.lp_hero {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 420px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: relative; 
    isolation: isolate;

    .overlay {
        background-color: hsl(var(--hsl-blue-900) / 0.9);
        mix-blend-mode: multiply;
        position: absolute;
        inset: 0;
        z-index: -1;
    }

    &__logo {
        max-width: min(300px,60vw);
        margin-inline: auto;
    }

    .container-xl {
        max-width: 625px;
        // margin-bottom: -1.5rem;
    }

    h1 {
        color: white;
        line-height: 1.2;
        text-wrap: balance;
        text-align: center;
        max-width: 80vw;
        margin-bottom: 0;
        margin-inline: auto;
        font-weight: var(--fw-400);
        font-size: 2.4rem;
        // span {
        //     background-color: hsl(var(--hsl-blue-900) / .9);
        //     padding-inline: 5px;
        //     -webkit-box-decoration-break: clone;
        //     box-decoration-break: clone;
        // }
    }
}