@import "typography";
@import "props";
@import "forms";
@import "blocks/blocks";


.lp_header, .lp_body {
    color: black;
}

footer {
    background-color: var(--col-blue-900);
    color: var(--col-blue-100);
    text-align: center;
    padding: 3rem;
    font-size: 0.8rem;
    div {
        margin-bottom: 1rem;
        max-width: 625px;
        margin-inline: auto;
    }
}